*{
    margin: 50;
    padding: 0;
    
}
body{
  font-family: "galdeano" , sans-serif;
  background-color: black;
}  

.container{
    max-width: 100px;
    margin: auto;
}
.hybrid-cardl1::before{
    padding-bottom: 13.33%;
}


.hybrid-cardl1{
    background-color :black;
    position: relative;
    margin: 1rem;
    width: 90px;
    height: 160px;
    margin: 5px;
    float: left;
}

.hybrid-cardl1 img{
    width: 90px; 
    height:120px;
    padding-top: 0px;
}


.hybrid-cardl1 .text-over-image{
    position: absolute;
    padding: 3px 3px 3px 10px;
    font-size:6px;
    top: 0px;
    left: 49px;
    background: rgb(0,127,255);
    color: #fff;
    background: rgb(227,11,93);
    clip-path: polygon(100% 0%, 72% 0%, 36% 0%, 0% 0%, 21% 61%, 17% 50%, 1% 100%, 0% 100%, 38% 100%, 60% 100%, 100% 100%, 100% 80%, 100% 50%, 100% 25%);
}

.hybrid-cardl1 .movie-title{
    display: flex;
    color: #fff;
    font-size: 10px;
    padding-top: 0px;
    float:left;
}

.hybrid-cardl1 .movie-rating{
    padding-top: 0px;
    padding-left: 70px;
    font-size: 10px;
    color: #fff;
    word-break: break-all;
}

ion-icon {
    color:yellow;
  }

.hybrid-cardl1 .movie-year{
    padding-top: 4px;
    display: flex;
    font-size: 10px;
    color:rgb(105,105,105);
    float: left;

  }
.hybrid-cardl1 .movie-lang{
    padding-top: 4px;
    padding-left: 40px;
    font-size: 10px;
    color:rgb(105,105,105);

}